/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --background-light-theme: #fff;
    --background-dark-theme: #242038;

    --purple1: #242038;
    --purple2: #725AC1;
    --purple3: #8d86c9b4;
    --purple4: #8D86C9;
    --purple5: #CAC4CE;

    --font-black: #000;
    --font-white: #fff;
    --font-puple1: #725ac1;
    --font-puple2: #8D86C9;
    
    --icon: #8D86C9;

    --button: #725AC1;

    --shadow: #696969;
    --purple-shadow: #CBC2E8;

    --border: #00000086;

}

body {
    background-color: var(--background-light-theme);
    height: 100vh;
}

section {
    padding: 10px 4%;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.logo {
    width: 200px;
    height: auto;
}

.btn-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--button);
    color: #fff;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.btn-contact button:hover {
    box-shadow: 0px 0px 8px var(--shadow);
    transition: .2s;
    transform: scale(1.05);
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--icon);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


h1 {
    font-size: 30pt;
    font-weight: 800;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 25pt;
    font-weight: 800;
    margin: 40px;
}

span{
    color: var(--font-puple1);
}

/* Header Styles */
header {
    margin-bottom: 40px;
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 0 40px;
}

header a {
    color: var(--font-black);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: var(--font-puple1);
    transform: scale(1.05);
}

/* Home Styles */

.text-home {
    width: 60%;
    height: 100%;
}

.text-home span {
    color: var(--font-puple2);
}

.text-home > span {
    background-color: var(--font-black);
}

.text-home #animation {
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.image-home {
    width: 40%;
    position: relative;
}

.image-home img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

/* About style */

section.about > .interface {
    padding: 40px 4%;
    border-radius: 10px;
}

.image-about img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    border:solid var(--border);
}

.txt-about {
    margin: 0px 40px 40px 40px;
}

.txt-about p {
    font-size: 15pt;
    font-weight: 500;
    margin: 20px 0px 20px 0px ;
}

.social i{
    width: 80px;
    height: 80px;
    margin: 20px;
    padding: 20px;
}

/* Dev tools style */

.skills {
    text-align: center;
}

.dev-tools {
    margin: 20px;
}

.dev-tools h3 {
    font-size: 20pt;
    margin: 20px;
}

.skills-icon {
    transition: .2s;
    transform: scale(1);
    margin: 10px;
}

.skills-icon:hover {
    transform: scale(1.05);
}

.txt-dev-tools p {
    color: var(--font-black);
    font: 10pt;
    font-weight: 500;
    text-align: justify;
    margin-top: 30px;
    max-width: 50%; 
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#icon-html:hover ~ .txt-dev-tools p#html-desc,
#icon-css:hover ~ .txt-dev-tools p#css-desc,
#icon-js:hover ~ .txt-dev-tools p#javascript-desc,
#icon-python:hover ~ .txt-dev-tools p#python-desc,
#icon-csharp:hover ~ .txt-dev-tools p#csharp-desc,
#icon-sql:hover ~ .txt-dev-tools p#sql-desc,
#icon-git:hover ~ .txt-dev-tools p#git-desc {
    display: block;
    transition: 20s;
}

/* My projects style */

section.projects .flex {
    justify-content: space-around;
}

.img-port {
    width: 360px;
    height: 460px;
    margin-bottom: 50px;
    background-size: contain;
    border-radius: 40px;
    box-shadow: #0000002f 5px 5px 20px;
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.link-all-projects {
    display: flex;
    justify-content: center;
}

.link-all-projects a {
    text-decoration: none;
    font-size: 15pt;
    font-weight: 500;
 }

.link-all-projects i {
   margin-left: 10px;
}


/* Form style */

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: var(--purple3);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: var(--font-black);
    font-weight: 500;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form > .btn-contact {
    margin-top: 10px;
    text-align: center;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    outline: none;
    box-shadow: 0 0 0 2px var(--purple2);
    transition: .2s;
}

form > input:valid,
textarea:valid {
    box-shadow: 0 0 0 2px #98ff5ccd;
}

::-webkit-input-placeholder {
    color: var(--font-black);
}

/* Footer style */

footer {
    margin-top: 50px;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px var(--purple-shadow)
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

footer .line-footer p i{
    color: var(--purple2);
    font-size: 15pt;
    text-decoration: none;
}

footer .line-footer p a{
    text-decoration: none;
    color: var(--font-black);
    font-weight: 500;
    margin-left: 5px;
}

.border {
    border-top: solid;
    color: var(--purple2);
}

